/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #848484;
    background: #BBDEF0;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    overflow-y: auto;
    overflow-x: hidden;
}

.top50 {
    top: 50%;
}

.h100 {
    height: 100vh;
}

.mt-10 {
    margin-top: 6rem
}

.mt-20 {
    margin-top: 12rem;
}

.mb-10 {
    margin-bottom: 6rem
}

.pa-20 {
    padding: 20px !important;
}

.font-grey {
    color: #848484 !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #444 !important;
}

h1 {
    font-size: 42px;
    line-height: 42px;
    text-transform: capitalize;
}

h2 {
    font-size: 24px;
    line-height: 35px;
    text-transform: capitalize;
}

h3 {
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
}

h4 {
    font-size: 18px;
    line-height: 29px;
    text-transform: capitalize;
}

h5 {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    text-transform: uppercase;
}

.card_shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03);
}