<div class="container-fluid bg-1">
  <div class="row">
    <div class="container mt-20">
      <div class="row header card_shadow">
        <div class="col-sm-6 text-center mt-5 mb-5">
          <div class="candidate_img"></div>
          <div class="col-sm-12 mt-5">
            <a class="pa-20" href="https://www.linkedin.com/company/goku/about/"><i
                class="fab fa-linkedin"></i></a>
            <a class="pa-20" href="mailto:goku@supersayan.jpn"><i class="fas fa-at"></i></a>
          </div>
        </div>
        <div class="col-sm-6 mt-5">
          <div class="row">
            <div class="col-sm-12">
              <h1>Son Goku</h1>
              <h5 class="font-grey">Super sayan </h5>
              <p class="mt-5 black">
                Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è
                considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese
                una cassetta di caratteri e li assemblò per preparare un testo campione.
              </p>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-sm-6 profile_title">Age</div>
            <div class="col-sm-6">112</div>
          </div>

          <div class="row mt-2">
            <div class="col-sm-6 profile_title">Address</div>
            <div class="col-sm-6">Monte Paoz</div>
          </div>

          <div class="row mt-2">
            <div class="col-sm-6 profile_title">Email</div>
            <div class="col-sm-6">
              <a href="mailto:goku@supersayan.jpn">goku@supersayan.jpn</a>
            </div>
          </div>

          <div class="row mt-2 mb-4">
            <div class="col-sm-6 profile_title">Phone</div>
            <div class="col-sm-6">
              <a href="tel:+391112223333">1112223333</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="container mt-10">
    <div class="row">
      <div id="tec_skills" class="col-sm-6">
        <h2>Technical Skills</h2>
        <div class="card card_shadow">
          <div class="card-body">
            <p class="mt-2">Skill #1 </p>
            <div class="progress">
              <div class="progress-bar bg-skill_1" role="progressbar" style="width: 65%" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="mt-4">Skill #2</p>
            <div class="progress">
              <div class="progress-bar bg-skill_2" role="progressbar" style="width: 45%" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="mt-4">Skill #3</p>
            <div class="progress">
              <div class="progress-bar bg-skill_3" role="progressbar" style="width: 85%" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="mt-4 mb-2"> Skill #4</p>
            <div class="progress">
              <div class="progress-bar bg-skill_4" role="progressbar" style="width: 50%" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
      <div id="mtOnMobile" class="col-sm-6">
        <h2>Soft Skills</h2>
        <div class="card card_shadow">
          <div class="card-body">
            <p class="mt-2">Skill #1 </p>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="mt-4">Skill #2</p>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 45%" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="mt-4">Skill #3</p>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="mt-4 mb-2"> Skill #4</p>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 45%" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-12">
        <h2>Experience</h2>
        <section id="cd-timeline" class="cd-container">
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <div class="cd-timeline-content">
              <h2>Penta Consulting</h2>
              <div class="timeline-content-info">
                <span class="timeline-content-info-title">
                  <i class="fa fa-certificate" aria-hidden="true"></i>
                  Front End Developer
                </span>
                <span class="timeline-content-info-date">
                  <i class="fa fa-calendar-o" aria-hidden="true"></i>
                  June 2016 - Present
                </span>
              </div>
              <p>Working alongside the designer team implementing the designs, also developing custom solutions to
                address team necessities.</p>
              <ul class="content-skills">
                <li>HTML5</li>
                <li>CSS3</li>
                <li>JavaScript</li>
                <li>Angular</li>
              </ul>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
              <h2>Title of section 2</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic
                quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
              <span class="cd-date">Jan 18</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
              <h2>Title of section 3</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias
                eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem
                doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio
                natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae
                quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam
                sunt similique aut adipisci.</p>
              <span class="cd-date">Jan 24</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
              <h2>Title of section 4</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic
                quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
              </p>
              <span class="cd-date">Feb 14</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
            </div>

            <div class="cd-timeline-content">
              <h2>Title of section 5</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
              <span class="cd-date">Feb 18</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
              <h2>Final Section</h2>
              <p>This is the content of the last section</p>
              <span class="cd-date">Feb 26</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->
        </section> <!-- cd-timeline -->
      </div>
    </div>
  </div>
</div>